<section>
  <section class="site-section" id="section-hdt">
    <div class="container">
      <div class="row justify-content-center">
        <div class="section-heading text-white text-center col-md-10">
          <h2 class="text-white mb-5">Haus der <strong>Transformation</strong></h2>
          {% include card_top.html %}
          <p>{{ site.data.campusleben.hdt.text }}</p>
          <a href="mailto:{{ site.data.campusleben.hdt.mail }}?subject=[Via%20AStA-Webseite]" class="btn btn-primary mt-auto mb-1 py-0" >Mail schreiben</a>
          {% include card_bottom.html %}
        </div>
      </div>
    </div>
  </section>
</section>
