<nav class="navbar d-flex fixed-top navbar-expand-lg my-site-navbar navbar-light bg-light">
  <div class="container mx-auto">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="index.html">
      <img src="{{ site.data.infos.logo }}" alt="Logo AStA" height="50" width="114">
    </a>

    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample09">

      <ul class="navbar-nav">
        {% for item in site.data.navigation_links.navigation %}


        {% if item.subfolderitems %}
        <li class="nav-item dropdown {% if item.url == page.url %}active{% endif %}">
          <a class="nav-link dropdown-toggle" href="{{ item.url }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ item.title }}
          </a>
          <div class="dropdown-menu {% if item.url == page.url %}active{% endif %}" aria-labelledby="navbarDropdown">
            {% for entry in item.subfolderitems %}
            <a class="dropdown-item" href="{{ entry.url }}">{{ entry.page }}</a>
            {% endfor %}
          </div>
        </li>

        {% else %}
        <li class="nav-item {% if item.url == page.url %}active{% endif %}">
          <a class="nav-link" href="{{ item.url }}">{{ item.title }}</a>
        </li>

        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
<div class="mb-15">Ein Easteregg XD</div>
