
{% for referat in site.referate %}
<div class="card mt-5 m-auto d-flex" style="width: 23%; min-width: 15rem; height: 20rem;"> <!---->
  <img src="{{ referat.image }}" class="card-img-top" alt="{{ referat.image_alt }}">
  <div class="card-body">
    <h5 class="card-title" id="text-event-card">{{ referat.title }} - {{ referat.name }}</h5>
<!--    <p id="text-event-card">Ein Text</p>-->
    <a href="mailto:{{ referat.mail }}" class="btn btn-primary mt-auto">Mail schreiben</a>
  </div>
</div>
{% endfor %}
