.fa {
    padding: 20px;
    font-size: 60px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.sm {
    font-size: 30px !important;
    padding: 0px !important;
}
img {
  max-width: 100vw !important;
}

.resume-item {
  color: #959ca3;
  width: 30vw;
  padding: 40px;
  margin-left: 12px;
  margin-right: 12px;
  background: #fff;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  border: 4px solid transparent; }
  .resume-item:hover, .resume-item:focus {
    border: 4px solid #76B900;
    -webkit-box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.1); }
  .resume-item .date {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
    letter-spacing: .1em;
    color: #b3bdc6;
    text-transform: uppercase; }
  .resume-item h3, .resume-item .school {
    color: #2c3e50; }

.resorts {
  color: #959ca3;
  padding: 40px;
  margin-left: 12px;
  margin-right: 12px;
  background: #fff;
}

.btn-primary {
    background-color: #76B900;
    border-color: transparent;
}

.btn-primary:hover {
    border-color: #76B900;
}

hr {
  border: 1px solid rgba(150, 150, 150, .5);
  border-radius: 5px;
  width: 50%
}

.parent-nav-link-padding, .my-site-navbar .navbar-nav > li > a {
  padding: 15px 20px !important; }

.my-site-navbar {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0px;
  margin-bottom: 0px;
  top: 20px;
  width: 100%;
  z-index: 200;
  background: #fff; }
  .my-site-navbar .navbar-brand {
    display: inline-block;
    border: 2px solid #fff;
    padding: 5px 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .2em; }
    .my-site-navbar .navbar-brand:hover {
      color: #fff; }
    @media (max-width: 991.98px) {
      .my-site-navbar.bg-light {
        background: #fff !important;
        top: 0; }
        .my-site-navbar.bg-light .navbar-brand {
          display: inline-block;
          font-size: 18px;
          border: 2px solid #000;
          padding: 2px 10px !important;
          color: #000; } }
  .my-site-navbar .navbar-nav > li > a {
    color: #fff !important;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .1em;
    position: relative;
    text-transform: uppercase;
    letter-spacing: .2em; }
    @media (max-width: 991.98px) {
      .my-site-navbar .navbar-nav > li > a {
        color: rgba(0, 0, 0, 0.7) !important; } }


  .my-site-navbar .navbar-nav > li > div > a {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .1em;
    position: relative;
    text-transform: uppercase;
    letter-spacing: .1em; }
    @media (max-width: 991.98px) {
      .my-site-navbar .navbar-nav > li > div > a {
        color: rgba(0, 0, 0, 0.7) !important; } }



  .my-site-navbar .navbar-nav.active > a {
    color: #76B900 !important; }
  .my-site-navbar {
    background: #fff;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.09);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;}
    .my-site-navbar.bg-light {
      background: #fff !important; }
    .my-site-navbar .navbar-brand {
      display: inline-block;
      font-size: 18px;
      border: 2px solid #000;
      padding: 2px 10px !important; }
    .my-site-navbar.awake, .my-site-navbar.sleep {
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
    .my-site-navbar.awake {
      -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
      transform: translateY(0%);
      background: #fff !important; }
    .my-site-navbar.sleep {
      -webkit-transform: translateY(-90%);
      -ms-transform: translateY(-90%);
      transform: translateY(-90%);
      background: #76B900 !important; }
    .my-site-navbar .navbar-brand {
      color: #000; }
    .my-site-navbar .dropdown > a:before {
      color: rgba(0, 0, 0, 0.4); }
    .my-site-navbar .navbar-nav > li > a {
      color: rgba(0, 0, 0, 0.7) !important; }
      .my-site-navbar .navbar-nav > li > a:hover {
        color: #76B900 !important; }
      .my-site-navbar .navbar-nav > li > a.active {
        color: #76B900 !important; }
    .my-site-navbar .navbar-nav > li.active > a {
      color: #76B900 !important; }



      /* Flipping Cards */


      /* entire container, keeps perspective */
      .card-container {
      	-webkit-perspective: 800px;
      	-moz-perspective: 800px;
      	-o-perspective: 800px;
      	perspective: 800px;
      	margin-bottom: 30px;
      }
      /* flip the pane when hovered */
      .card-container:not(.manual-flip):hover .card,
      .card-container.hover.manual-flip .card{
      	-webkit-transform: rotateY( 180deg );
      	-moz-transform: rotateY( 180deg );
      	-o-transform: rotateY( 180deg );
      	transform: rotateY( 180deg );
      }


      .card-container.static:hover .card,
      .card-container.static.hover .card {
      	-webkit-transform: none;
      	-moz-transform: none;
      	-o-transform: none;
      	transform: none;
      }
      /* flip speed goes here */
      .card {
      	-webkit-transition: -webkit-transform .5s;
      	-moz-transition: -moz-transform .5s;
      	-o-transition: -o-transform .5s;
      	transition: transform .5s;
      	-webkit-transform-style: preserve-3d;
      	-moz-transform-style: preserve-3d;
      	-o-transform-style: preserve-3d;
      	transform-style: preserve-3d;
      	position: relative;
      }

      /* hide back of pane during swap */
      .front, .back {
      	-webkit-backface-visibility: hidden;
      	-moz-backface-visibility: hidden;
      	-o-backface-visibility: hidden;
      	backface-visibility: hidden;
      	position: absolute;
      	top: 0;
      	left: 0;
      	background-color: #FFF;
          border-radius: 5%;
          width: 300px; height: 300px;
      }

      /* front pane, placed above back */
      .front {
      	z-index: 2;
      }

      /* back, initially hidden pane */
      .back {
      	-webkit-transform: rotateY( 180deg );
      	-moz-transform: rotateY( 180deg );
      	-o-transform: rotateY( 180deg );
      	transform: rotateY( 180deg );
      	z-index: 3;
      }

      .back .btn-simple{
      	position: absolute;
      	left: 0;
      	bottom: 4px;
      }

      .card {
      	border: none;
      }

      /*       Fix bug for IE      */

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      	.front, .back{
      		-ms-backface-visibility: visible;
      		backface-visibility: visible;
      	}

      	.back {
      		visibility: hidden;
      		-ms-transition: all 0.2s cubic-bezier(.92,.01,.83,.67);
      	}
      	.front{
      		z-index: 4;
      	}
      	.card-container:not(.manual-flip):hover .back,
      	.card-container.manual-flip.hover .back{
      		z-index: 5;
      		visibility: visible;
      	}
      }
