---
layout: main
---

{% include bg_photo_top.html %}
{% include card_top.html %}
<p>Der AStA ist das Arbeitsgremium der Studierendenschaft. Er wird jährlich durch das StudentInnenparlament gewählt und ist für die laufenden Geschäfte verantwortlich. Mit seinen einzelnen Referaten versucht der AStA, den vom Berliner Hochschulgesetz BerlHG festgeschriebenen Aufgaben nachzukommen und die Studierendenschaft nach außen zu vertreten.
</p>
{% include card_bottom.html %}
<a href="mailto:{{ site.data.infos.kontakt.email }}" class="card-link smoothscroll mt-5 mb-5 btn btn-primary px-3 py-1">Schreib uns</a>
{% include card_top.html %}
{{ content }}
{% include card_bottom.html %}

{% include bg_photo_bottom.html %}