---
layout: main
---

{% include bg_photo_top.html %}
{% include card_top.html %}
<p>Wir, der AStA, allgemeiner Studierendenausschuss der HTW Berlin sind durch das Studierendenparlament (StuPa) gewählte VertreterInnen der stärksten Studierendenschaft Berlins und machen Schluss mit deinem Ärger!</p>
<p>Wir setzen uns gemeinschaftlich für deine Interessen gegenüber anderen Institutionen der HTW Berlin durch
und auch weit außerhalb der Hochschulmauern!</p>
<p>Wir sind dein AStA. BAStA!</p>
{% include card_bottom.html %}
<a href="mailto:{{ site.data.infos.kontakt.email }}" class="card-link smoothscroll mt-5 mb-5 btn btn-primary px-3 py-1">Schreib uns</a>
{% include card_top.html %}
{{ content }}
{% include card_bottom.html %}

{% include bg_photo_bottom.html %}
