---
layout: main
---

{% include bg_photo_top.html %}
{{ content }}
<h3 class="mb-3">Vorstand</h3>
<div class="mt-4">
  {% for vorstand in site.data.vorstand.vorstand %}
  <a href="#section-{{ vorstand.referat }}" class="card-link smoothscroll m-1 btn btn-primary button-refarate px-3 py-1">{{ vorstand.title }}</a>
  {% endfor %}
</div>
<hr class="w-50"/>

<h3>Referate</h3>
<div class="mt-4">
  {% for referat in site.data.referate.referate %}
  <a href="#section-{{ referat.section }}" class="card-link smoothscroll m-1 btn btn-primary button-refarate px-3 py-1">{{ referat.title }}</a>
  {% endfor %}
</div>
{% include bg_photo_bottom.html %}

{% include referat_sections.html %}
<hr/>
