---
layout: main
---

{% include bg_photo_top.html %}
{% include card_top.html %}
{{ content }}

<a href="{{ site.data.infos.social.instagram }}" target="_blank" class="fa fa-instagram px-3 mx-3"></a>
<a href="{{ site.data.infos.social.facebook }}" target="_blank" class="fa fa-facebook pl-3 ml-3"></a>
<a href="{{ site.data.infos.social.twitter }}" target="_blank" class="fa fa-twitter px-3 mx-3"></a>

<!--
<div class="container">
  <div class="row" style="height: auto; min-height: auto;">
    <div class="col-sm">
      <a href="{{ site.data.infos.social.instagram }}" target="_blank" class="fa fa-instagram"></a>
    </div>
    <div class="col-sm">
      <a href="{{ site.data.infos.social.facebook }}" target="_blank" class="fa fa-facebook"></a>
    </div>
    <div class="col-sm">
      <a href="{{ site.data.infos.social.twitter }}" target="_blank" class="fa fa-twitter"></a>
    </div>
  </div>
</div>
-->

{% include card_bottom.html %}
{% include bg_photo_bottom.html %}

